In [158]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [159]:
training_set=pd.read_csv("Data_Train.csv")

training_set.head(3)

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24-03-2019,Banglore,New Delhi,BLR ? DEL,22:20,22-03-2019 01:10,2h 50m,non-stop,No info,3897
1,Air India,01-05-2019,Kolkata,Banglore,CCU ? IXR ? BBI ? BLR,5:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,09-06-2019,Delhi,Cochin,DEL ? LKO ? BOM ? COK,9:25,10-06-2019 04:25,19h,2 stops,No info,13882

In [160]:
test_set=pd.read_csv("Test_set.csv")
test_set.head(3)

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info
0,Jet Airways,6/06/2019,Delhi,Cochin,DEL ? BOM ? COK,17:30,04:25 07 Jun,10h 55m,1 stop,No info
1,IndiGo,12/05/2019,Kolkata,Banglore,CCU ? MAA ? BLR,06:20,10:20,4h,1 stop,No info
2,Jet Airways,21/05/2019,Delhi,Cochin,DEL ? BOM ? COK,19:15,19:00 22 May,23h 45m,1 stop,In-flight meal not included

In [161]:
training_set['Journey_day']=pd.to_datetime(training_set['Date_of_Journey']).dt.day

training_set['Journey_Month']=pd.to_datetime(training_set['Date_of_Journey']).dt.month

training_set=training_set.drop(columns=['Date_of_Journey'], axis=1)

In [162]:
test_set['Journey_day']=pd.to_datetime(test_set['Date_of_Journey']).dt.day

test_set['Journey_Month']=pd.to_datetime(test_set['Date_of_Journey']).dt.month

test_set=test_set.drop(columns=['Date_of_Journey'], axis=1)

In [163]:
training_set.head(2)

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Journey_day,Journey_Month
0,IndiGo,Banglore,New Delhi,BLR ? DEL,22:20,22-03-2019 01:10,2h 50m,non-stop,No info,3897,24,3
1,Air India,Kolkata,Banglore,CCU ? IXR ? BBI ? BLR,5:50,13:15,7h 25m,2 stops,No info,7662,5,1

In [164]:
test_set.head(2)

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Journey_day,Journey_Month
0,Jet Airways,Delhi,Cochin,DEL ? BOM ? COK,17:30,04:25 07 Jun,10h 55m,1 stop,No info,6,6
1,IndiGo,Kolkata,Banglore,CCU ? MAA ? BLR,06:20,10:20,4h,1 stop,No info,5,12

In [165]:
# Dept Time

training_set['Dept_time_hr']=pd.to_datetime(training_set['Dep_Time']).dt.hour

training_set['Dept_time_min']=pd.to_datetime(training_set['Dep_Time']).dt.minute

training_set=training_set.drop(columns=['Dep_Time'], axis=1)

#Arrival Time

training_set['Arrival_time_hr']=pd.to_datetime(training_set['Arrival_Time']).dt.hour
training_set['Arrival_time_min']=pd.to_datetime(training_set['Arrival_Time']).dt.minute


training_set=training_set.drop(columns=['Arrival_Time'], axis=1)

In [166]:
training_set.head(2)

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,Journey_day,Journey_Month,Dept_time_hr,Dept_time_min,Arrival_time_hr,Arrival_time_min
0,IndiGo,Banglore,New Delhi,BLR ? DEL,2h 50m,non-stop,No info,3897,24,3,22,20,1,10
1,Air India,Kolkata,Banglore,CCU ? IXR ? BBI ? BLR,7h 25m,2 stops,No info,7662,5,1,5,50,13,15

In [167]:
# Dept Time  TEST DATASET

test_set['Dept_time_hr']=pd.to_datetime(test_set['Dep_Time']).dt.hour

test_set['Dept_time_min']=pd.to_datetime(test_set['Dep_Time']).dt.minute

test_set=test_set.drop(columns=['Dep_Time'], axis=1)

#Arrival Time

test_set['Arrival_time_hr']=pd.to_datetime(test_set['Arrival_Time']).dt.hour
test_set['Arrival_time_min']=pd.to_datetime(test_set['Arrival_Time']).dt.minute


test_set=test_set.drop(columns=['Arrival_Time'], axis=1)

In [168]:
test_set.head(2)

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Journey_day,Journey_Month,Dept_time_hr,Dept_time_min,Arrival_time_hr,Arrival_time_min
0,Jet Airways,Delhi,Cochin,DEL ? BOM ? COK,10h 55m,1 stop,No info,6,6,17,30,4,25
1,IndiGo,Kolkata,Banglore,CCU ? MAA ? BLR,4h,1 stop,No info,5,12,6,20,10,20

In [169]:
training_set.Route.str.replace("[({':?]", "")

0                  BLR  DEL
1        CCU  IXR  BBI  BLR
2        DEL  LKO  BOM  COK
3             CCU  NAG  BLR
4             BLR  NAG  DEL
5                  CCU  BLR
6             BLR  BOM  DEL
7             BLR  BOM  DEL
8             BLR  BOM  DEL
9             DEL  BOM  COK
10            DEL  BLR  COK
11                 CCU  BLR
12                 MAA  CCU
13            CCU  BOM  BLR
14                 CCU  BLR
15       DEL  AMD  BOM  COK
16            DEL  PNQ  COK
17            DEL  BOM  COK
18       DEL  CCU  BOM  COK
19            DEL  BOM  COK
20            DEL  BOM  COK
21            BLR  COK  DEL
22                 BLR  DEL
23                 BLR  DEL
24            CCU  BOM  BLR
25       DEL  IDR  BOM  COK
26            DEL  LKO  COK
27            DEL  BOM  COK
28                 BLR  DEL
29                 MAA  CCU
                ...
10653         CCU  BOM  BLR
10654              BLR  DEL
10655              BOM  HYD
10656              BLR  DEL
10657         CCU  BOM  BLR
10658              BLR  DEL
10659              BLR  DEL
10660              BLR  DEL
10661         DEL  BOM  COK
10662    CCU  BOM  GOI  BLR
10663    DEL  JAI  BOM  COK
10664              BLR  DEL
10665              CCU  BLR
10666         DEL  BOM  COK
10667         BLR  BOM  DEL
10668    DEL  JDH  BOM  COK
10669         DEL  BOM  COK
10670    CCU  IXR  DEL  BLR
10671              BOM  HYD
10672    DEL  AMD  BOM  COK
10673    DEL  AMD  BOM  COK
10674         BLR  BOM  DEL
10675              BOM  HYD
10676         DEL  BOM  COK
10677              BLR  DEL
10678              CCU  BLR
10679              CCU  BLR
10680              BLR  DEL
10681              BLR  DEL
10682    DEL  GOI  BOM  COK
Name: Route, Length: 10683, dtype: object

In [170]:
test_set.Route.str.replace("[({':?]", "")

0            DEL  BOM  COK
1            CCU  MAA  BLR
2            DEL  BOM  COK
3            DEL  BOM  COK
4                 BLR  DEL
5            DEL  BOM  COK
6            BLR  TRV  DEL
7            CCU  HYD  BLR
8                 CCU  BLR
9            CCU  BOM  BLR
10      DEL  MAA  BOM  COK
11           DEL  HYD  COK
12           DEL  BOM  COK
13           BLR  BOM  DEL
14           DEL  BOM  COK
15           BLR  BOM  DEL
16           DEL  HYD  COK
17           CCU  DEL  BLR
18           DEL  BOM  COK
19           BLR  BOM  DEL
20           DEL  BOM  COK
21           CCU  BOM  BLR
22           BLR  BOM  DEL
23      DEL  JAI  BOM  COK
24                BLR  DEL
25           DEL  BOM  COK
26                CCU  BLR
27           DEL  BOM  COK
28           DEL  BOM  COK
29           DEL  BOM  COK
               ...
2641         DEL  BOM  COK
2642         DEL  BOM  COK
2643    DEL  HYD  MAA  COK
2644         DEL  BOM  COK
2645         BLR  BOM  DEL
2646    DEL  AMD  BOM  COK
2647    CCU  GAU  DEL  BLR
2648              DEL  COK
2649              BLR  DEL
2650    CCU  IXR  DEL  BLR
2651         CCU  DEL  BLR
2652         BLR  BOM  DEL
2653         CCU  BOM  BLR
2654         DEL  BOM  COK
2655         DEL  BOM  COK
2656         CCU  BOM  BLR
2657         DEL  BOM  COK
2658         DEL  BOM  COK
2659    DEL  BHO  BOM  COK
2660    BOM  GOI  PNQ  HYD
2661    DEL  AMD  BOM  COK
2662              BOM  HYD
2663         CCU  BOM  BLR
2664         DEL  BOM  COK
2665              BOM  HYD
2666         CCU  DEL  BLR
2667              CCU  BLR
2668         DEL  BOM  COK
2669         DEL  BOM  COK
2670         DEL  BOM  COK
Name: Route, Length: 2671, dtype: object

In [171]:
training_set['Route']=training_set.Route.str.replace("[({':?]", "")

training_set['Total_Stops']=training_set.Total_Stops.str.replace("non-stop", "0")
training_set['Total_Stops']=training_set.Total_Stops.str.replace("1 stop", "1")
training_set['Total_Stops']=training_set.Total_Stops.str.replace("2 stops", "2")
training_set['Total_Stops']=training_set.Total_Stops.str.replace("3 stops", "3")
training_set['Total_Stops']=training_set.Total_Stops.str.replace("4 stops", "4")

In [172]:
test_set['Route']=test_set.Route.str.replace("[({':?]", "")

test_set['Total_Stops']=test_set.Total_Stops.str.replace("non-stop", "0")
test_set['Total_Stops']=test_set.Total_Stops.str.replace("1 stop", "1")
test_set['Total_Stops']=test_set.Total_Stops.str.replace("2 stops", "2")
test_set['Total_Stops']=test_set.Total_Stops.str.replace("3 stops", "3")
test_set['Total_Stops']=test_set.Total_Stops.str.replace("4 stops", "4")

In [173]:
training_set.isnull().sum(axis=0)

Airline             0
Source              0
Destination         0
Route               1
Duration            0
Total_Stops         1
Additional_Info     0
Price               0
Journey_day         0
Journey_Month       0
Dept_time_hr        0
Dept_time_min       0
Arrival_time_hr     0
Arrival_time_min    0
dtype: int64

In [174]:
training_set=training_set.dropna()

In [175]:
training_set.isnull().sum(axis=0)

Airline             0
Source              0
Destination         0
Route               0
Duration            0
Total_Stops         0
Additional_Info     0
Price               0
Journey_day         0
Journey_Month       0
Dept_time_hr        0
Dept_time_min       0
Arrival_time_hr     0
Arrival_time_min    0
dtype: int64

In [176]:
test_set.isnull().sum(axis=0)

Airline             0
Source              0
Destination         0
Route               0
Duration            0
Total_Stops         0
Additional_Info     0
Journey_day         0
Journey_Month       0
Dept_time_hr        0
Dept_time_min       0
Arrival_time_hr     0
Arrival_time_min    0
dtype: int64

In [177]:
#y=training_set.iloc[:,training_set.columns=='Price'].values
#y

training_set.head(2)

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,Journey_day,Journey_Month,Dept_time_hr,Dept_time_min,Arrival_time_hr,Arrival_time_min
0,IndiGo,Banglore,New Delhi,BLR DEL,2h 50m,0,No info,3897,24,3,22,20,1,10
1,Air India,Kolkata,Banglore,CCU IXR BBI BLR,7h 25m,2,No info,7662,5,1,5,50,13,15

In [178]:
# Dependent Variable
Y_train = training_set.iloc[:,7].values  # 6 is the index of "Price" in the Training Set 

# Independent Variables
X_train =training_set.iloc[:,training_set.columns != 'Price'].values # selects all columns except "Price"

# Independent Variables for Test Set
X_test = test_set.iloc[:,:].values

In [179]:
X_train=training_set.iloc[:,training_set.columns!='Price']

In [206]:
X_train.shape
type(X_train)

pandas.core.frame.DataFrame

In [207]:
X_test.shape

(2671, 13)

In [208]:
X_test=pd.DataFrame(X_test)

In [209]:
## training Set


from sklearn.preprocessing import LabelEncoder
X_train.shape
le_1=LabelEncoder()

X_train.values[:,0] = le_1.fit_transform(X_train.values[:,0])
X_train.values[:,1] = le_1.fit_transform(X_train.values[:,1])
X_train.values[:,2] = le_1.fit_transform(X_train.values[:,2])

X_train.values[:,3] = le_1.fit_transform(X_train.values[:,3])

X_train.values[:,4] = le_1.fit_transform(X_train.values[:,4])

X_train.values[:,5] = le_1.fit_transform(X_train.values[:,5])

X_train.values[:,6] = le_1.fit_transform(X_train.values[:,6])

In [210]:
#X=x.apply(LabelEncoder().fit_transform)
X_train=X_train.apply(le_1.fit_transform)

In [211]:
## Test SET

le_2=LabelEncoder()

X_test.values[:,0] = le_2.fit_transform(X_test.values[:,0])
X_test.values[:,1] = le_2.fit_transform(X_test.values[:,1])
X_test.values[:,2] = le_2.fit_transform(X_test.values[:,2])

X_test.values[:,3] = le_2.fit_transform(X_test.values[:,3])

X_test.values[:,4] = le_2.fit_transform(X_test.values[:,4])

X_test.values[:,5] = le_2.fit_transform(X_test.values[:,5])

X_test.values[:,6] = le_2.fit_transform(X_test.values[:,6])

In [212]:
X_test.shape
type(X_test)

pandas.core.frame.DataFrame

In [213]:
X_test=X_test.apply(le_2.fit_transform)

In [214]:
Y_train.shape

(10682,)

In [215]:
Y_train=Y_train.reshape(-1,1)
Y_train.shape

(10682, 1)

In [216]:
from sklearn.preprocessing import StandardScaler

SS= StandardScaler()

#_train = sc_X.fit_transform(X_train)
X_train= SS.fit_transform(X_train)

X_test=SS.fit_transform(X_test)

#_test = X_test.apply(sc_X.fit_transform(X_test))

#X_test = sc_X.fit_transform(X_test)

Y_train = SS.fit_transform(Y_train)


# Y_train = Y_train.ravel()

C:\Users\ADMIN\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\preprocessing\data.py:625: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\Users\ADMIN\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\base.py:462: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)
C:\Users\ADMIN\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\preprocessing\data.py:625: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\Users\ADMIN\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\base.py:462: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)
C:\Users\ADMIN\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\utils\validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)
C:\Users\ADMIN\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\utils\validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

In [ ]:
#from sklearn.model_selection import train_test_split

In [ ]:
#train_x,test_x,train_y,test_y=train_test_split(X,y,test_size=0.30,random_state=60)

In [ ]:
#train_x.shape

In [ ]:
#test_x.shape

In [ ]:
#train_y.shape

In [ ]:
#test_y.shape

In [219]:
from sklearn.svm import SVR

svr = SVR(kernel = "rbf")

svr.fit(X_train,Y_train)

#pred_y = sc_X.inverse_transform(svr.predict(X_test))
pred_y = svr.predict(X_test)

pd.DataFrame(pred_y, columns = ['Price']).to_excel("Final_Pred.xlsx", index = False)

C:\Users\ADMIN\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [220]:
print(pd.DataFrame(pred_y).head())

          0
0  0.306694
1 -0.472585
2  0.524928
3  0.260264
4 -1.163580

In [221]:
from sklearn.metrics import r2_score

In [223]:
A=svr.score(X_train,Y_train)
print('Score=',A)

Score= 0.7701860986496867